 /* 整頁設定 */
 .container-fluid{
    height: 1080px;
}

.form_class{
    height: 100%;
}

.row-no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

 .colSet{
    display: flex;
 }
 .new_class{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.stutopbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnbox-item-stu{

}
.doneclass{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px;
   
}
.doneclasscard{
    background-color: #b1b1b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 136px;
}